{"openapi":"3.0.0","info":{"version":"1.0.0","title":"API"},"servers":[{"url":"https://api.lunarclientprod.com","description":"Production"},{"url":"https://api.lunarclientdev.com","description":"Development"}],"components":{"schemas":{"FeatureFlag":{"type":"object","properties":{"identifier":{"type":"string","description":"Identifier of the feature"},"value":{"type":"boolean","description":"If this feature is active or not"}},"required":["identifier","value"],"additionalProperties":false},"SentryFilter":{"type":"object","properties":{"identifier":{"type":"string","description":"Identifier of the filter"},"regex":{"type":"string","description":"Regex to match events with"}},"required":["identifier","regex"],"additionalProperties":false},"LaunchTypeArtifact":{"type":"object","properties":{"name":{"type":"string","description":"Name of the artifact"},"sha1":{"type":"string","description":"Hash of the artifact asset"},"url":{"type":"string","format":"uri","description":"URL of the artifact asset"},"differentialUrl":{"type":"string","nullable":true,"format":"uri","description":"Differential URL of the artifact asset (to use if previous hash exists)"},"type":{"type":"string","enum":["CLASS_PATH","EXTERNAL_FILE","NATIVES"],"description":"Type of the artifact asset"},"size":{"type":"number","description":"Size of the artifact, in bytes"},"mtime":{"type":"number","description":"Last modification time of the artifact, in seconds since epoch"}},"required":["name","sha1","url","differentialUrl","type","size","mtime"],"additionalProperties":false,"description":"Artifact information relating to specific launch permutation"},"LauncherLaunchLicense":{"type":"object","properties":{"file":{"type":"string","description":"File of the license"},"url":{"type":"string","format":"uri","description":"URL location of the license"},"sha1":{"type":"string","description":"Hash of the license"},"size":{"type":"number","description":"Size of the license, in bytes"},"mtime":{"type":"number","description":"Last modification time of the license, in seconds since epoch"}},"required":["file","url","sha1","size","mtime"],"additionalProperties":false,"description":"Launch License"},"LauncherProfile":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Local profile ID"},"name":{"type":"string","description":"Name of the profile"},"modrinth":{"type":"object","properties":{"id":{"type":"string","description":"Modrinth Project ID"},"version_id":{"type":"string","description":"Version ID of the Modrinth Project"}},"required":["id"],"additionalProperties":false,"description":"Information about the Modrinth-linked modpack"}},"required":["id","name"],"additionalProperties":false,"description":"The profile attempting to be launched"},"LogUploadOutputFile":{"type":"object","properties":{"name":{"type":"string","description":"Name of the file on the player's machine","example":"main.log"},"uploadUrl":{"type":"string","format":"uri","description":"URL the client should use to PUT the file's contents"}},"required":["name","uploadUrl"],"additionalProperties":false,"description":"File that should be uploaded"},"LogUploadInputFile":{"type":"object","properties":{"name":{"type":"string","description":"Name of the file on the player's machine","example":"main.log"}},"required":["name"],"additionalProperties":false},"LauncherVersionCarouselImage":{"type":"object","properties":{"image":{"type":"string","format":"uri","description":"Image of the slide"},"title":{"type":"string","description":"Title shown within the image"}},"required":["image","title"],"additionalProperties":false},"LauncherSubversionModule":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the module"},"default":{"type":"boolean","description":"Whether this is the default module within the parent subversion"},"name":{"type":"string","description":"Display name of the module"},"description":{"type":"string","description":"Description of the module"},"credits":{"type":"string","nullable":true,"description":"Author of the module"},"image":{"type":"string","format":"uri","description":"Icon displayed with the module"},"launchButtonImage":{"type":"string","nullable":true,"format":"uri","description":"Icon displayed on the launch button next to the module name"},"launchButtonName":{"type":"string","nullable":true,"description":"Name displayed on the launch button"},"loaders":{"type":"array","items":{"type":"string","description":"Name of the loader"},"description":"Loaders that are compatible with this module"},"sort":{"type":"number","description":"Order of the module within subversion"}},"required":["id","default","name","description","credits","image","launchButtonImage","launchButtonName","loaders","sort"],"additionalProperties":false},"LauncherVanillaSubversion":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the subversion"},"modules":{"type":"array","items":{"$ref":"#/components/schemas/LauncherSubversionModule"},"description":"Modules associated with this subversion"},"default":{"type":"boolean","description":"Whether this is the default subversion within the parent"}},"required":["id","modules","default"],"additionalProperties":false},"LauncherVanillaVersion":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the version"},"name":{"type":"string","description":"Display name of the version (from Mojang)","example":"The Bountiful Update"},"description":{"type":"string","description":"Blurb about the update"},"carousel":{"type":"array","items":{"$ref":"#/components/schemas/LauncherVersionCarouselImage"},"description":"List of slides that will play above the description"},"default":{"type":"boolean","description":"Whether this is the version that should be selected on first install"},"releaseDate":{"type":"string","description":"Date that Mojang released this parent version"},"images":{"type":"object","properties":{"background":{"type":"string","format":"uri","description":"Image shown behind version text"},"foreground":{"type":"string","format":"uri","description":"Image shown infront of version text"},"icon":{"type":"string","format":"uri","description":"Image shown in list view of versions page"}},"required":["background","foreground","icon"],"additionalProperties":false,"description":"Images that are shown with this version listing"},"subversions":{"type":"array","items":{"$ref":"#/components/schemas/LauncherVanillaSubversion"},"description":"Subversions associated with this parent version"}},"required":["id","name","description","carousel","default","releaseDate","images","subversions"],"additionalProperties":false},"LauncherSubversionAssets":{"type":"object","properties":{"sha1":{"type":"string","description":"Hash of the asset"},"url":{"type":"string","format":"uri","description":"URL of the asset location"},"id":{"type":"string","description":"Identifier of the asset"}},"required":["sha1","url","id"],"additionalProperties":false,"description":"Assets that need to be downloaded with this subversion"},"LauncherSubversion":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the subversion"},"default":{"type":"boolean","description":"Whether this is the default subversion within the parent"},"assets":{"$ref":"#/components/schemas/LauncherSubversionAssets"},"modules":{"type":"array","items":{"$ref":"#/components/schemas/LauncherSubversionModule"},"description":"Modules that are playable with this subversion"}},"required":["id","default","assets","modules"],"additionalProperties":false},"LauncherVersion":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the version"},"name":{"type":"string","description":"Display name of the version (from Mojang)","example":"The Bountiful Update"},"description":{"type":"string","description":"Blurb about the update"},"carousel":{"type":"array","items":{"$ref":"#/components/schemas/LauncherVersionCarouselImage"},"description":"List of slides that will play above the description"},"default":{"type":"boolean","description":"Whether this is the version that should be selected on first install"},"releaseDate":{"type":"string","description":"Date that Mojang released this parent version"},"images":{"type":"object","properties":{"background":{"type":"string","format":"uri","description":"Image shown behind version text"},"foreground":{"type":"string","format":"uri","description":"Image shown infront of version text"},"icon":{"type":"string","format":"uri","description":"Image shown in list view of versions page"}},"required":["background","foreground","icon"],"additionalProperties":false,"description":"Images that are shown with this version listing"},"subversions":{"type":"array","items":{"$ref":"#/components/schemas/LauncherSubversion"},"description":"Subversions associated with this parent version"}},"required":["id","name","description","carousel","default","releaseDate","images","subversions"],"additionalProperties":false},"RecommendedLibrary":{"type":"object","properties":{"name":{"type":"string","description":"Identifier of the library","example":"FABRIC_LOADER"},"version":{"type":"string","description":"Version of the library","example":"0.15.6"}},"required":["name","version"],"additionalProperties":false},"Ad":{"type":"object","properties":{"id":{"type":"string","description":"ID of the advertisement"},"placement":{"type":"string","enum":["home","mission-control","explore-mods"],"description":"Placement of the advertisement"},"type":{"type":"string","enum":["video","image"],"description":"Type of advertisement"},"media_asset_url":{"type":"string","format":"uri","description":"URL of the media asset"},"media_target_url":{"type":"string","format":"uri","description":"URL of the target page when the media asset is clicked"},"cta_icon_url":{"type":"string","format":"uri","description":"URL of the call to action icon"},"cta_text":{"type":"string","description":"Text of the call to action"},"cta_button_text":{"type":"string","description":"Text of the call to action button"},"cta_button_url":{"type":"string","format":"uri","description":"URL of the call to action button"},"show_to_lunar_plus":{"type":"boolean","description":"Whether to show the ad to Lunar+ users"},"start_time":{"type":"string","format":"date-time","description":"Start time of the ad"},"end_time":{"type":"string","format":"date-time","description":"End time of the ad"}},"required":["id","placement","type","media_asset_url","media_target_url","cta_icon_url","cta_text","cta_button_text","cta_button_url","show_to_lunar_plus","start_time"],"additionalProperties":false},"LauncherAlert":{"type":"object","nullable":true,"properties":{"id":{"type":"string","description":"ID of the alert"},"text":{"type":"string","description":"Contents of the alert"},"color":{"type":"string","enum":["RED","BLUE","PURPLE","TWITCH","YOUTUBE","DISCORD","TWITTER","YOUTOOZ"],"description":"Color variant of the alert"},"link":{"type":"string","format":"uri","description":"Whether the alert is clickable and should open up a link"}},"required":["id","text","color"],"additionalProperties":false,"description":"Alert to display to the user"},"LauncherBlogPost":{"type":"object","properties":{"title":{"type":"string","description":"Title of the blog post (primarily for Analytics)"},"image":{"type":"string","format":"uri","description":"Image to display with the blog post"},"link":{"type":"string","format":"uri","description":"URL that is opened upon clicking"},"badge":{"type":"string","nullable":true,"enum":["LIMITED_TIME","INCLUDES_REWARD"],"description":"Type of badge to display"},"hash":{"type":"string","description":"Hash associated with the contents of the blog post (for read/unread indicators)"}},"required":["title"],"additionalProperties":false},"LauncherNavItem":{"type":"object","properties":{"id":{"type":"string","description":"Identifier for navigiation item"},"image":{"type":"string","description":"Image to display as icon"},"destination":{"type":"string","description":"Where the navigation item will take users (can be a deep link)"},"tooltip":{"type":"object","properties":{"title":{"type":"string","description":"Title of the tooltip"},"subtitle":{"type":"string","description":"Subtitle of the tooltip"}},"required":["title"],"additionalProperties":false,"description":"Tooltip to show on hover"}},"required":["id"],"additionalProperties":false},"LauncherServersCTA":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"URL that is opened in tab on click"}},"required":["url"],"additionalProperties":false,"description":"Servers Page CTA information"},"ServerMappingsModpack":{"type":"object","properties":{"id":{"type":"string","description":"Modrinth ID of the modpack"},"recommendedVersion":{"type":"string","description":"The recommended Modrinth Modpack version. If blank, will use latest version."},"recommendedReleaseChannel":{"type":"string","description":"If blank, will use 'Release' release channel."},"recommendedLoader":{"type":"string","description":"If blank, will use 'Fabric' loader or the next available loader if Fabric is not available."},"promptBeforeGameJoin":{"type":"boolean","default":true,"description":"If true, the user will be prompted to install the recommended mods/modpack before joining the server in-game."},"promptBeforeLauncherJoin":{"type":"boolean","default":true,"description":"If true, the user will be prompted to install the recommended mods/modpack before joining the server in-game."}},"required":["id"],"description":"Server's modpack"},"MetadataShelfServer":{"type":"object","properties":{"id":{"type":"string","description":"Id of the server"},"name":{"type":"string","description":"Display name of the server"},"icon":{"type":"string","format":"uri","description":"Icon of the server"},"joinIp":{"type":"string","description":"IP that should be joined on click"},"supportedVersions":{"type":"array","items":{"type":"string","description":"Support Lunar Client version of the Server"},"description":"Supported Versions of the server"},"recommendedVersion":{"type":"string","description":"Recommended version of the server"},"primaryColor":{"type":"string","description":"Server's primary branding color"},"modpack":{"$ref":"#/components/schemas/ServerMappingsModpack"}},"required":["id","name","icon","joinIp","supportedVersions","recommendedVersion"],"additionalProperties":false,"description":"Server metadata for server shelf functionality"},"TopbarSocial":{"type":"object","properties":{"id":{"type":"string","description":"Identifier for social item"},"name":{"type":"string","description":"Name of the social (ex. Twitter)"},"url":{"type":"string","format":"uri","description":"URL that gets opened on click"},"icon":{"type":"string","description":"Icon to display for the social. Can either be a URL or a Fontawesome icon class"}},"required":["id","name","url","icon"],"additionalProperties":false},"VideoPromotionTimings":{"type":"object","properties":{"cooldowns":{"type":"object","properties":{"house":{"type":"number","description":"Length of cooldown for house advertisements (Lunar Client promos)"},"direct":{"type":"number","description":"Length of cooldown for direct advertisements (Third party promos)"}},"required":["house","direct"],"additionalProperties":false,"description":"Cooldowns for each promotion type"},"viewsBeforeCooldown":{"type":"object","properties":{"house":{"type":"number","description":"Amount of house ad views before cooldown is applied"},"direct":{"type":"number","description":"Amount of direct ad views before cooldown is applied"}},"required":["house","direct"],"additionalProperties":false,"description":"Number of views before cooldown is applied for each promotion type"}},"required":["cooldowns","viewsBeforeCooldown"],"additionalProperties":false,"description":"Values that are applied to each promotion type"},"VideoPromotionPositioning":{"type":"object","properties":{"blog":{"type":"object","properties":{"slot":{"type":"number","description":"Position to insert the video promotion on the home page"}},"required":["slot"],"additionalProperties":false,"description":"Positioning and properties of the blog placement for the video promotion"},"sidebar":{"type":"object","properties":{"slot":{"type":"number","description":"Position to insert the video promotion on the sidebar"},"image":{"type":"string","format":"uri","description":"Image to display in the sidebar placement for the video promotion, defaults to video icon if nothing is provided."}},"additionalProperties":false,"description":"Positioning and properties of the sidebar placement for the video promotion"}},"additionalProperties":false,"description":"Positioning of the entrypoints to the promotion in the Launcher"},"VideoPromotionCreativeIdentifiers":{"type":"object","properties":{"creativeId":{"type":"string","nullable":true,"description":"Creative ID that is being served with the advertisement"},"adId":{"type":"string","nullable":true,"description":"Advertising ID that is being played"},"title":{"type":"string","nullable":true,"description":"Title attributed to the creative"}},"additionalProperties":false,"description":"List of identifiers that will tried to be matched"},"VideoPromotionReward":{"type":"object","properties":{"type":{"type":"string","enum":["COSMETIC","EMOTE"],"description":"Type of reward"},"id":{"type":"number","description":"Identifier of cosmetic / emote"},"name":{"type":"string","description":"Name of the reward"},"viewerData":{"nullable":true}},"required":["type","id","name"],"additionalProperties":false},"VideoPromotionCreative":{"type":"object","properties":{"id":{"type":"string","description":"Moonsworth ID of the creative"},"name":{"type":"string","description":"Moonsworth name of the creative"},"type":{"type":"string","enum":["HOUSE","DIRECT"],"description":"Type of creative"},"thumbnail":{"type":"string","nullable":true,"format":"uri","description":"Thumbnail to show in he blog area"},"sort":{"type":"number","description":"Order of creative within the pool (used for sequence tracking)"},"identifiers":{"$ref":"#/components/schemas/VideoPromotionCreativeIdentifiers"},"cta":{"type":"object","properties":{"buttonText":{"type":"string","nullable":true,"description":"Text that is shown on the button","example":"Visit store"},"buttonUrl":{"type":"string","nullable":true,"format":"uri","description":"URL that is opened when the button is clicked"},"text":{"type":"string","nullable":true,"description":"Hook text that is shown on the left of the button"},"urlDisplay":{"type":"string","nullable":true,"description":"Display hint of the URL that is opened positioned on the left of the button"}},"additionalProperties":false,"description":"Call to action information associated with the creative"},"vendor":{"type":"object","properties":{"name":{"type":"string","nullable":true,"description":"Name of the vendor that is providing the creative (company)"},"image":{"type":"string","nullable":true,"format":"uri","description":"Logo of the vendor"}},"required":["name","image"],"additionalProperties":false,"description":"Vendor information associated with the creative"},"rewards":{"type":"array","items":{"$ref":"#/components/schemas/VideoPromotionReward"},"description":"Rewards attached with the creative"}},"required":["id","name","type","thumbnail","sort","identifiers","rewards"],"additionalProperties":false},"VideoPromotion":{"type":"object","properties":{"timings":{"$ref":"#/components/schemas/VideoPromotionTimings"},"positioning":{"$ref":"#/components/schemas/VideoPromotionPositioning"},"playerUrl":{"type":"string","format":"uri","description":"URL of the webpage where scripts are being injected"},"fallbackThumbnail":{"type":"string","format":"uri","description":"Thumbnail to use if the house ad index has reached the end of the list"},"launchToastDelay":{"type":"number","description":"Amount of time in milliseconds after launch click to send the pending rewards Toast. Set this to -1 to disable the toast."},"corner":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether or not the corner should be shown"},"playerUrl":{"type":"string","format":"uri","description":"URL of the webpage where scripts are being injected"},"playerTimeout":{"type":"number","description":"Amount of time in milliseconds to wait for the player to start playing before it automatically closes"},"countdownAction":{"type":"string","enum":["CLOSE","AUTOPLAY"],"description":"Action to take when the countdown is finished on pre-video thumbnail"},"countdownAmount":{"type":"number","description":"Amount of time in milliseconds to countdown"},"showDelay":{"type":"number","description":"Amount of time in milliseconds to wait before showing the corner thumbnail on launch click"},"thumbnail":{"type":"string","format":"uri","description":"Thumbnail to show in the corner before video"}},"required":["enabled","playerUrl","playerTimeout","countdownAction","countdownAmount","showDelay","thumbnail"],"additionalProperties":false,"description":"Corner functionality for the video promotion"},"activeCreatives":{"type":"array","items":{"$ref":"#/components/schemas/VideoPromotionCreative"},"description":"List of expected creatives"}},"required":["timings","positioning","playerUrl","launchToastDelay","corner","activeCreatives"],"additionalProperties":false,"description":"Current video promotion information"},"LauncherRefreshIntervals":{"type":"object","properties":{"metadata":{"type":"number","description":"How often the metadata should refresh"},"updates":{"type":"number","description":"How often the auto updater should check for updates"},"heartbeat":{"type":"number","description":"How often the AssetServer heartbeat should be sent"},"servers":{"type":"number","description":"How often the server counts fetch is sent"}},"required":["metadata","updates","heartbeat","servers"],"additionalProperties":false,"description":"Refresh intervals across the Launcher"},"LauncherUpdater":{"type":"object","properties":{"channel":{"type":"string","description":"Updater channel to pull updates from","example":"latest"},"feedUrl":{"type":"string","format":"uri","description":"URL to check updates from"}},"required":["channel","feedUrl"],"additionalProperties":false,"description":"Information regarding the updater"},"LauncherErrorSolution":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID for the solution"},"title":{"type":"string","description":"Title of the solution"},"description":{"type":"string","description":"Description of the solution"},"errors":{"type":"array","items":{"type":"string","description":"String value to look for in stderr"},"description":"List of errors to look for in stderr"}},"required":["id","title","description","errors"],"additionalProperties":false},"OnlinePlayers":{"type":"object","properties":{"game":{"type":"number","description":"Number of player with the game open"},"launcher":{"type":"number","description":"Number of player with the launcher open"}},"required":["game","launcher"],"additionalProperties":false,"description":"Number of concurrent players across Lunar Client platforms"},"LauncherRadioStation":{"type":"object","properties":{"id":{"type":"string","description":"ID of the radio station"},"name":{"type":"string","description":"Name of the radio station"},"description":{"type":"string","description":"Description of the radio station"},"image":{"type":"string","description":"Image of the radio station"}},"required":["id","name"],"additionalProperties":false},"LauncherRadioPremiumPackage":{"type":"object","properties":{"name":{"type":"string","description":"Name of the premium package","example":"Premium Package"},"packageId":{"type":"number","description":"The Tebex ID of the package","example":6538884},"priceAmount":{"type":"number","minimum":0,"description":"Amount of the price of the premium radio subscription","example":4.99},"priceCurrency":{"type":"string","description":"Currency of the price of the premium radio subscription","example":"USD"}},"required":["name","packageId","priceAmount","priceCurrency"],"additionalProperties":false},"ServerMappingsSocials":{"type":"object","properties":{"twitter":{"type":"string","description":"Twitter handle of the server (without @)"},"discord":{"type":"string","description":"Full discord invite link of the server"},"youtube":{"type":"string","description":"Youtube channel slug of the server (without /channel/)"},"instagram":{"type":"string","description":"Instagram handle of the server (without @)"},"twitch":{"type":"string","description":"Twitch channel of the server (without @)"},"telegram":{"type":"string","description":"Telegram channel slug of the server"},"reddit":{"type":"string","description":"Reddit slug of the server (without the leading r/)"},"tiktok":{"type":"string","description":"TikTok handle of the server (without @)"},"facebook":{"type":"string","description":"Facebook slug of the server"}},"description":"Social media channels of the server"},"ServerMappingsCompliance":{"type":"object","properties":{"privacyPolicy":{"type":"string","format":"uri","description":"URL to the server's Privacy Policy"},"termsOfService":{"type":"string","format":"uri","description":"URL to the server's Terms of Service"},"rules":{"type":"string","format":"uri","description":"URL to the server's Rules"},"support":{"type":"string","format":"uri","description":"URL to the server's Support"}},"description":"Compliance URLs of the server"},"LauncherServer":{"type":"object","properties":{"id":{"type":"string","description":"ID of the server"},"name":{"type":"string","description":"Display name of the server"},"website":{"type":"string","format":"uri","description":"URL to the server's website"},"store":{"type":"string","format":"uri","description":"URL to the server's store"},"wiki":{"type":"string","format":"uri","description":"URL to the server's wiki"},"merch":{"type":"string","format":"uri","description":"URL to the server's merchandise"},"description":{"type":"string","description":"Description of the server"},"addresses":{"type":"array","items":{"type":"string","description":"Address that the server is known as"},"description":"Domains that represent the server (used for discovery)"},"primaryAddress":{"type":"string","description":"Address that people will content to upon clicking"},"minecraftVersions":{"type":"array","items":{"type":"string","description":"Playable Minecraft version of the server"},"description":"List of versions that the server lists as playable"},"primaryMinecraftVersion":{"type":"string","description":"Version that the server recommends you to join with"},"primaryColor":{"type":"string","description":"Server's primary branding color"},"secondaryColor":{"type":"string","description":"Server's secondary branding color"},"primaryLanguage":{"type":"string","description":"Primary language that server is based on"},"languages":{"type":"array","items":{"type":"string","description":"Supported language of the server"},"description":"List of languages that the server supports"},"primaryRegion":{"type":"string","description":"Primary region that the server operates in"},"regions":{"type":"array","items":{"type":"string","description":"Region that the server operates in"},"description":"List of regions that the server operates in (physical hardware)"},"gameTypes":{"type":"array","items":{"type":"string","description":"Gametype that server provides to play"},"description":"List of Game Types that the server provides to play"},"socials":{"$ref":"#/components/schemas/ServerMappingsSocials"},"crossplay":{"type":"boolean","description":"Whether the server supports crossplay with Bedrock players"},"presentationVideo":{"type":"string","description":"YouTube ID of a server's Trailer/Introduction video"},"compliance":{"$ref":"#/components/schemas/ServerMappingsCompliance"},"modpack":{"allOf":[{"$ref":"#/components/schemas/ServerMappingsModpack"},{"description":"Recommended Modpack of the server"}]},"images":{"type":"object","properties":{"logo":{"type":"string","format":"uri","description":"URL to the server's logo"},"banner":{"type":"string","format":"uri","description":"URL to the server's banner"},"background":{"type":"string","format":"uri","description":"URL to the server's background"},"wordmark":{"type":"string","format":"uri","description":"URL to the server's wordmark"}},"description":"Images of the server"},"partnered":{"type":"boolean","description":"Whether the server has an active Lunar Client partnership (front page)"}},"required":["id","name","addresses","primaryAddress","minecraftVersions","primaryMinecraftVersion","images","partnered"]},"LauncherServerModeFilter":{"type":"object","properties":{"name":{"type":"string","description":"Name of the mode"},"iconUrl":{"type":"string","format":"uri","description":"Icon representing mode"}},"required":["name","iconUrl"],"additionalProperties":false},"LauncherServerRegionFilter":{"type":"object","properties":{"code":{"type":"string","description":"Continent code of the region"},"name":{"type":"string","description":"Name of the region"}},"required":["code","name"],"additionalProperties":false},"LauncherServerFilters":{"type":"object","properties":{"versions":{"type":"array","items":{"type":"string","description":"Minecraft version that can be filtered by"},"description":"List of available versions that can be filtered by"},"modes":{"type":"array","items":{"$ref":"#/components/schemas/LauncherServerModeFilter"},"description":"List of available modes that can be filtered by"},"regions":{"type":"array","items":{"$ref":"#/components/schemas/LauncherServerRegionFilter"},"description":"List of available regions that can be filtered by"}},"required":["versions","modes","regions"],"additionalProperties":false,"description":"Filters that can be applied to the servers tab"},"Customer":{"type":"object","properties":{"username":{"type":"string","description":"Minecraft username for this customer","example":"macguy"},"uuid":{"type":"string","format":"uuid","description":"Minecraft UUID for this customer","example":"7471b8e8-27c2-4354-a7d2-bd6a82dc00a0"}},"required":["username","uuid"],"additionalProperties":false,"description":"Customer who owns this basket"},"BasketItem":{"type":"object","properties":{"package":{"type":"object","properties":{"id":{"type":"integer","description":"ID for this package","example":532},"name":{"type":"string","description":"Name of this package","example":"500 Gold"},"description":{"type":"string","description":"HTML description of this package","example":"This package gives you <b>500 Gold</b>!"}},"required":["id","name","description"],"additionalProperties":false},"quantity":{"type":"integer","description":"The quantity of this package in the basket","example":2},"priceInBasket":{"type":"string","description":"The final price (after discounts, etc.) of this entire basket item. (Not per-quantity)","example":"12.50"}},"required":["package","quantity","priceInBasket"],"additionalProperties":false,"description":"Item in basket"},"BasketCoupon":{"type":"object","properties":{"code":{"type":"string","description":"Store-assigned code for this coupon","example":"CHRISTMAS-SALE"}},"required":["code"],"additionalProperties":false,"description":"Coupon in basket"},"BasketGiftCard":{"type":"object","properties":{"code":{"type":"string","description":"Store-assigned code for this gift card","example":"1234 5678 9012"}},"required":["code"],"additionalProperties":false,"description":"Gift card applied to the basket"},"BasketCreatorCode":{"type":"object","properties":{"code":{"type":"string","description":"Store-assigned code for this creator","example":"LUNAR"}},"required":["code"],"additionalProperties":false,"description":"Creator code applied to the basket"},"Basket":{"type":"object","properties":{"id":{"type":"string","description":"Basket ID assigned by the store provider"},"subtotal":{"type":"string","description":"Price of this basket after discounts, coupons, etc. but before taxes"},"customer":{"$ref":"#/components/schemas/Customer"},"items":{"type":"array","items":{"$ref":"#/components/schemas/BasketItem"},"description":"Items in the basket"},"coupons":{"type":"array","items":{"$ref":"#/components/schemas/BasketCoupon"},"description":"Coupons in the basket"},"giftCards":{"type":"array","items":{"$ref":"#/components/schemas/BasketGiftCard"},"description":"Gift cards applied to the basket"},"creatorCodes":{"type":"array","items":{"$ref":"#/components/schemas/BasketCreatorCode"},"description":"Creator codes applied to the basket"}},"required":["id","subtotal","customer","items","coupons","giftCards","creatorCodes"],"additionalProperties":false},"StoreLookupError":{"type":"object","properties":{"code":{"type":"string","enum":["NO_STORE_DOMAIN_PARSED","NO_STORE_FOR_DOMAIN"],"description":"The type of error that has occured whilst looking up a store"},"storeDomain":{"type":"string","description":"The store domain that was attempted to be looked up (if available)"}},"required":["code"],"additionalProperties":false},"ErrorMessage":{"type":"object","properties":{"success":{"type":"boolean","enum":[false],"description":"If the operation was successful or not"},"message":{"type":"string","description":"Error message, which is safe to show to an end user"}},"required":["success","message"],"additionalProperties":false},"CheckoutResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true],"description":"If the checkout redirect was successful or not"},"checkoutUrl":{"type":"string","format":"uri","description":"URL to redirect the user to, in order to complete their purchase"}},"required":["success","checkoutUrl"],"additionalProperties":false},"SuccessMessage":{"type":"object","properties":{"success":{"type":"boolean","enum":[true],"description":"If the operation was successful or not"},"message":{"type":"string","description":"Success message, which is safe to show to an end user"}},"required":["success","message"],"additionalProperties":false},"Category":{"type":"object","properties":{"id":{"type":"integer","description":"ID for this category","example":621},"name":{"type":"string","description":"Name of this category","example":"Gold"},"description":{"type":"string","description":"HTML description of this category","example":"<b>Gold</b>"},"parent":{"type":"integer","nullable":true,"description":"Category ID of this category's parent, if it isn't a root category.","example":12},"displayType":{"type":"string","enum":["LIST","GRID"],"description":"How, visually, we should render the packages in this category","example":"GRID"}},"required":["id","name","description","parent","displayType"],"additionalProperties":false},"StoreContext":{"type":"object","properties":{"name":{"type":"string","description":"Name of this store","example":"Lunar Network"},"description":{"type":"string","description":"HTML description of this store","example":"<b>Welcome to the store!</b>"},"storefrontUrl":{"type":"string","format":"uri","description":"URL for the web version of this store, with protocol.","example":"https://store.lunar.gg"},"currency":{"type":"string","description":"Currency for this store","example":"USD"},"categories":{"type":"array","items":{"$ref":"#/components/schemas/Category"},"description":"All categories (not just root categories) available on this store"},"branding":{"type":"object","properties":{"colors":{"type":"object","properties":{"background":{"type":"object","nullable":true,"properties":{"lowerColor":{"type":"string","description":"Lower color of the gradient"},"upperColor":{"type":"string","description":"Upper color of the gradient"}},"required":["lowerColor","upperColor"],"additionalProperties":false,"description":"Gradient background of the store"},"primaryFlat":{"type":"string","nullable":true,"description":"Flat primary color of the store (buttons)"},"primaryGradient":{"type":"object","nullable":true,"properties":{"lowerColor":{"type":"string","description":"Lower color of the gradient"},"upperColor":{"type":"string","description":"Upper color of the gradient"}},"required":["lowerColor","upperColor"],"additionalProperties":false,"description":"Primary gradient of the store (buttons)"},"secondaryFlat":{"type":"string","nullable":true,"description":"Flat secondary color of the store (links)"},"secondaryGradient":{"type":"object","nullable":true,"properties":{"lowerColor":{"type":"string","description":"Lower color of the gradient"},"upperColor":{"type":"string","description":"Upper color of the gradient"}},"required":["lowerColor","upperColor"],"additionalProperties":false,"description":"Secondary gradient of the store (links)"}},"required":["background","primaryFlat","primaryGradient","secondaryFlat","secondaryGradient"],"additionalProperties":false,"description":"Colors of the store"},"logo":{"type":"string","nullable":true,"format":"uri","description":"URL for the logo of this store, with protocol"},"hero":{"type":"string","nullable":true,"format":"uri","description":"URL for the hero image of this store, with protocol","example":"https://servermappings.lunarclientcdn.com/backgrounds/hypixel.png"},"wordmark":{"type":"string","nullable":true,"format":"uri","description":"URL for the wordmark of this store, with protocol","example":"https://servermappings.lunarclientcdn.com/wordmarks/hypixel.png"}},"required":["colors","logo","hero","wordmark"],"additionalProperties":false,"description":"Branding of the store"}},"required":["name","description","storefrontUrl","currency","categories","branding"],"additionalProperties":false},"Package":{"type":"object","properties":{"id":{"type":"integer","description":"ID for this package","example":532},"name":{"type":"string","description":"Name of this package","example":"500 Gold"},"description":{"type":"string","description":"HTML description of this package","example":"This package gives you <b>500 Gold</b>!"},"type":{"type":"string","enum":["SINGLE","SUBSCRIPTION"],"description":"Payment type of this package. SINGLE is a one-time purchase, SUBSCRIPTION packages renew on a set interval.","example":"SINGLE"},"category":{"type":"integer","description":"ID of the category this package is in. Every package must have a category.","example":12},"originalPrice":{"type":"string","description":"Price for this package before any discounts/sales/etc.","example":"12.99"},"effectivePrice":{"type":"string","description":"Price for this package after any discounts/sales/etc.","example":"9.99"},"image":{"type":"string","nullable":true,"format":"uri","description":"URL to a store-assigned image for this package"},"disableGifting":{"type":"boolean","description":"If gifting should be disabled for this package","example":false},"disableQuantity":{"type":"boolean","description":"If quantity selection should be disabled for this package (forces quantity of 1)","example":true},"availabilityEnd":{"type":"string","nullable":true,"description":"The timestamp this package will expire/become unavailable, or null if never."}},"required":["id","name","description","type","category","originalPrice","effectivePrice","image","disableGifting","disableQuantity","availabilityEnd"],"additionalProperties":false},"CategoryWithPackages":{"allOf":[{"$ref":"#/components/schemas/Category"},{"type":"object","properties":{"packages":{"type":"array","items":{"$ref":"#/components/schemas/Package"},"description":"Available packages in this category"}},"required":["packages"],"additionalProperties":false}]},"WrappedCountryData":{"type":"object","properties":{"country":{"type":"string","description":"The country code this data represents","example":"US"},"totalCosmeticChanges":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of cosmetic outfit changes that took place, where the player is from this country"},"totalEmoteTimeMillis":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of milliseconds players emoted for, where the player is from this country"},"totalEmoteUses":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of emote usages that took place, where the player is from this country"},"totalFriendAdds":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of new friendships that were formed, where at least one player is from this country"},"totalFriendMessages":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of friend messages that were sent, where the sending player is from this country"},"totalPlays":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of plays that took place, where the player is from this country"},"totalPlaytimeMillis":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of milliseconds of playtime that took place, where the player is from this country"},"totalRealmsJoins":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of Minecraft Realms joins that took place, where the player is from this country"},"totalServerJoins":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of multiplayer server joins that took place, where the player is from this country"},"totalSingleplayerJoins":{"type":"object","nullable":true,"properties":{"value":{"type":"number","description":"Country's value for this metric"},"rank":{"type":"integer","description":"Absolute rank this value places the country at, over the entire world"}},"required":["value","rank"],"additionalProperties":false,"description":"Total number of singleplayer joins that took place, where the player is from this country"},"topServerJoins":{"type":"array","items":{"type":"object","properties":{"serverMappingsId":{"type":"string","description":"ServerMappings ID for this server"},"serverMappingsName":{"type":"string","description":"ServerMappings name for this server"},"value":{"type":"integer","description":"Total number of joins to this server, where the player is from this country"}},"required":["serverMappingsId","serverMappingsName","value"],"additionalProperties":false},"description":"Top servers, sorted by number of joins, where the player is from this country"},"topServerTypes":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Server type, as defined in ServerMappings"},"value":{"type":"integer","description":"Total number of joins to servers with this type, where the player is from this country"}},"required":["type","value"],"additionalProperties":false},"description":"Top server types, sorted by number of joins, where the player is from this country"}},"required":["country","totalCosmeticChanges","totalEmoteTimeMillis","totalEmoteUses","totalFriendAdds","totalFriendMessages","totalPlays","totalPlaytimeMillis","totalRealmsJoins","totalServerJoins","totalSingleplayerJoins","topServerJoins","topServerTypes"],"additionalProperties":false},"WrappedGlobalData":{"type":"object","properties":{"totalEmoteTimeMillis":{"type":"number","description":"Total number of milliseconds players emoted for"},"totalEmoteUses":{"type":"number","description":"Total number of emote usages that took place"},"totalFriendAdds":{"type":"number","description":"Total number of new friendships that were formed"},"totalFriendMessages":{"type":"number","description":"Total number of friend messages that were sent"},"totalNameChanges":{"type":"number","description":"Total number of Minecraft name changes that we detected"},"totalServerJoins":{"type":"number","description":"Total number of multiplayer server joins that took place"},"totalSingleplayerJoins":{"type":"number","description":"Total number of singleplayer joins that took place"},"totalPlays":{"type":"number","description":"Total number of plays that took place"},"totalPlaytimeMillis":{"type":"number","description":"Total number of milliseconds of playtime that took place"},"totalRealmsJoins":{"type":"number","description":"Total number of Minecraft Realms joins that took place"},"topVersionPlays":{"type":"array","items":{"type":"object","properties":{"version":{"type":"string","description":"Minecraft version (major version only)","example":"1.20"},"value":{"type":"integer","description":"Total number of plays on this Minecraft version"}},"required":["version","value"],"additionalProperties":false},"description":"Top Minecraft versions, sorted by number of plays"},"topServerJoins":{"type":"array","items":{"type":"object","properties":{"serverMappingsId":{"type":"string","description":"ServerMappings ID for this server"},"serverMappingsName":{"type":"string","description":"ServerMappings name for this server"},"value":{"type":"integer","description":"Total number of joins to this server"}},"required":["serverMappingsId","serverMappingsName","value"],"additionalProperties":false},"description":"Top servers, sorted by number of joins, where the player is from this country"},"topServerTypes":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Server type, as defined in ServerMappings"},"value":{"type":"integer","description":"Total number of joins to servers with this type"}},"required":["type","value"],"additionalProperties":false},"description":"Top server types, sorted by number of joins"},"topCountries":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string","description":"The country code this data represents","example":"US"},"value":{"type":"number","description":"Percent of players from this country, from 0.0 to 1.0","example":0.29}},"required":["country","value"],"additionalProperties":false},"description":"Top countries, sorted by percentage of players"}},"required":["totalEmoteTimeMillis","totalEmoteUses","totalFriendAdds","totalFriendMessages","totalNameChanges","totalServerJoins","totalSingleplayerJoins","totalPlays","totalPlaytimeMillis","totalRealmsJoins","topVersionPlays","topServerJoins","topServerTypes","topCountries"],"additionalProperties":false},"WrappedPlayerData":{"type":"object","properties":{"playerUuid":{"type":"string","format":"uuid","description":"Minecraft UUID of the player"},"country":{"type":"string","description":"Detected 'home' country of the player, used for country ranks/percentiles"},"addedFriends":{"type":"array","items":{"type":"string","nullable":true,"format":"uuid","description":"Friend's Minecraft UUID"},"description":"UUIDs of players added as a friend in the year (including removed friends)"},"totalCosmeticChanges":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of cosmetic changes"},"totalEmoteTimeMillis":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Duration spent emoting (in milliseconds)"},"totalEmoteUses":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of emote usages that took place"},"totalFriendMessages":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of friend messages that were sent"},"totalNameChanges":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of Minecraft name changes that we detected"},"totalPlays":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of plays (websocket connections)"},"totalPlaytimeMillis":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Playtime (in milliseconds)"},"totalRealmsJoins":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of Minecraft Realms joins"},"totalServerJoins":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of multiplayer server joins"},"totalSingleplayerJoins":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Number of singleplayer joins"},"topDailyStreak":{"type":"object","nullable":true,"properties":{"value":{"type":"integer","nullable":true,"description":"Player's value for this metric"},"streakStart":{"type":"string","description":"Date the top streak started","example":"2023-11-19"},"streakEnd":{"type":"string","description":"Date the top streak ended","example":"2023-11-28"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["value","streakStart","streakEnd","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false,"description":"Longest daily login streak (consecutive plays)"},"topEmotesByUse":{"type":"array","items":{"type":"object","properties":{"emoteId":{"type":"integer","nullable":true,"description":"ID of the emote"},"emoteName":{"type":"string","description":"Name of the emote"},"emoteImageUrl":{"type":"string","nullable":true,"format":"uri","description":"Image URL of the emote"},"value":{"type":"integer","description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["emoteId","emoteName","emoteImageUrl","value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false},"description":"Top emotes, sorted by number of uses"},"topVersionPlays":{"type":"array","items":{"type":"object","properties":{"version":{"type":"string","description":"Minecraft version (major version only)","example":"1.20"},"value":{"type":"integer","description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["version","value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false},"description":"Top Minecraft versions, sorted by number of plays"},"topServerJoins":{"type":"array","items":{"type":"object","properties":{"serverMappingsId":{"type":"string","description":"ServerMappings ID for this server","example":"hypixel"},"serverMappingsName":{"type":"string","description":"ServerMappings name for this server","example":"Hypixel"},"value":{"type":"integer","description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["serverMappingsId","serverMappingsName","value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false},"description":"Top multiplayer servers, sorted by number of joins"},"topServerTypes":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Server type, as defined in ServerMappings"},"value":{"type":"integer","description":"Player's value for this metric"},"countryPercentile":{"type":"number","description":"Percentile this value places the player at, in the player's country"},"countryRank":{"type":"integer","description":"Absolute rank this value places the player at, in the player's country"},"globalPercentile":{"type":"number","description":"Percentile this value places the player at, over the entire world"},"globalRank":{"type":"integer","description":"Absolute rank this value places the player at, over the entire world"}},"required":["type","value","countryPercentile","countryRank","globalPercentile","globalRank"],"additionalProperties":false},"description":"Top server types, sorted by number of joins"},"topCosmetics":{"type":"array","items":{"type":"object","properties":{"cosmeticId":{"type":"integer","nullable":true,"description":"ID of the cosmetic"},"cosmeticName":{"type":"string","description":"Name of the cosmetic"},"cosmeticImageUrl":{"type":"string","format":"uri","description":"Image URL of the cosmetic"},"value":{"type":"integer","description":"Player's value for this metric"}},"required":["cosmeticId","cosmeticName","cosmeticImageUrl","value"],"additionalProperties":false},"description":"Top cosmetics, sorted by number of uses"},"topFriendsByMessages":{"type":"array","items":{"type":"object","properties":{"friendUuid":{"type":"string","format":"uuid","description":"Friend's Minecraft UUID"},"friendName":{"type":"string","description":"Friend's Minecraft username"},"value":{"type":"integer","description":"Player's value for this metric"}},"required":["friendUuid","friendName","value"],"additionalProperties":false},"description":"Top friends, sorted by number of messages sent to them"},"playerName":{"type":"string","description":"Minecraft username of the player"},"rank":{"type":"string","description":"Rank of the player"},"allEmotes":{"type":"boolean","description":"Whether the player has all emotes"},"allCosmetics":{"type":"boolean","description":"Whether the player has all cosmetics"},"lunarPlus":{"type":"boolean","description":"Whether the player has Lunar+"},"cosmeticsPurchased":{"type":"array","items":{"type":"object","properties":{"cosmeticId":{"type":"integer","nullable":true,"description":"ID of the cosmetic"},"cosmeticName":{"type":"string","description":"Name of the cosmetic"},"cosmeticImageUrl":{"type":"string","format":"uri","description":"Image URL of the cosmetic"}},"required":["cosmeticId","cosmeticName","cosmeticImageUrl"],"additionalProperties":false,"description":"Cosmetic"},"description":"Cosmetics purchased by the player"},"emotesPurchased":{"type":"array","items":{"type":"object","properties":{"emoteId":{"type":"integer","nullable":true,"description":"ID of the emote"},"emoteName":{"type":"string","description":"Name of the emote"},"emoteImageUrl":{"type":"string","nullable":true,"format":"uri","description":"Image URL of the emote"}},"required":["emoteId","emoteName","emoteImageUrl"],"additionalProperties":false,"description":"Emote"},"description":"Emotes purchased by the player"},"friendsWithLunarPlus":{"type":"array","items":{"type":"string","format":"uuid","description":"Friend's Minecraft UUID"},"description":"Friends with Lunar+"}},"required":["playerUuid","country","addedFriends","totalCosmeticChanges","totalEmoteTimeMillis","totalEmoteUses","totalFriendMessages","totalNameChanges","totalPlays","totalPlaytimeMillis","totalRealmsJoins","totalServerJoins","totalSingleplayerJoins","topDailyStreak","topEmotesByUse","topVersionPlays","topServerJoins","topServerTypes","topCosmetics","topFriendsByMessages","playerName","rank","allEmotes","allCosmetics","lunarPlus","cosmeticsPurchased","emotesPurchased","friendsWithLunarPlus"],"additionalProperties":false},"WrappedServerData":{"type":"object","properties":{"serverMappingsId":{"type":"string","description":"The ServerMappings ID this data represents","example":"hypixel"},"topVersionPlays":{"type":"array","items":{"type":"object","properties":{"version":{"type":"string","description":"Minecraft version (major version only)","example":"1.20"},"value":{"type":"integer","description":"Total number of joins on this Minecraft version"}},"required":["version","value"],"additionalProperties":false},"description":"Top Minecraft versions, sorted by number of joins on this server"},"topCountries":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string","description":"2 letter country code","example":"US"},"value":{"type":"integer","description":"Total number of joins from players from this country"}},"required":["country","value"],"additionalProperties":false},"description":"Top countries, sorted by number of joins on this server"},"serverMappingsName":{"type":"string","description":"The ServerMappings name of the requested server","example":"Hypixel"}},"required":["serverMappingsId","topVersionPlays","topCountries","serverMappingsName"],"additionalProperties":false},"SiteServer":{"type":"object","properties":{"id":{"type":"string","description":"ID of the server"},"name":{"type":"string","description":"Display name of the server"},"description":{"type":"string","description":"Description of the server"},"images":{"type":"object","properties":{"logo":{"type":"string","format":"uri","description":"URL to the server's logo"},"banner":{"type":"string","format":"uri","description":"URL to the server's banner"},"background":{"type":"string","format":"uri","description":"URL to the server's background"},"wordmark":{"type":"string","format":"uri","description":"URL to the server's wordmark"}},"description":"Images of the server"},"primaryAddress":{"type":"string","description":"Address that people will content to upon clicking"},"primaryColor":{"type":"string","description":"Server's primary branding color"},"primaryMinecraftVersion":{"type":"string","description":"Version that the server recommends you to join with"}},"required":["id","name","images","primaryAddress","primaryMinecraftVersion"]},"UserProfileRank":{"type":"object","properties":{"id":{"type":"string","default":"NONE","description":"The ID of the rank","example":"OWNER"},"color":{"type":"string","default":"#FFFFFF","description":"The color of the rank","example":"#FF0000"}},"required":["id","color"],"additionalProperties":false},"UserProfile":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"The UUID of the user","example":"3a870b6c-7b93-40e7-acb4-26f566360637"},"username":{"type":"string","description":"The username of the user","example":"ThatKawaiiSam"},"lunar_plus_color":{"type":"string","nullable":true,"description":"The color of the user's Lunar+","example":"#FF0000"},"rank":{"$ref":"#/components/schemas/UserProfileRank"},"active_cosmetics":{"type":"array","items":{"type":"number","description":"The ID of the cosmetic"},"description":"The active cosmetics of the user","example":[1,2,3]},"equipped_emotes":{"type":"array","items":{"type":"number","description":"The ID of the emote"},"description":"The equipped emotes of the user","example":[1,2,3]},"flip_shoulder_pet":{"type":"boolean","description":"Whether the user has flipped their shoulder pet"}},"required":["uuid","username","lunar_plus_color","rank","active_cosmetics","equipped_emotes","flip_shoulder_pet"],"additionalProperties":false},"PackageIndexPackage":{"type":"object","properties":{"id":{"type":"string","description":"External ID of the package"},"items":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"The type of the package"},"id":{"type":"string","description":"The ID of the package item (either Cosmetic ID or Emote ID)"}},"required":["type","id"]},"description":"Items within the package"}},"required":["id","items"],"additionalProperties":false,"description":"Package within the Package Index"}},"parameters":{}},"paths":{"/apollo/updates":{"get":{"tags":["apollo"],"description":"Reports the latest version of Apollo.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string","description":"The latest version of Apollo for the given artifact"},"assets":{"type":"object","properties":{"bukkit":{"type":"string","description":"URL to download the latest bukkit artifact"},"bungee":{"type":"string","description":"URL to download the latest bungee artifact"},"velocity":{"type":"string","description":"URL to download the latest velocity artifact"}},"additionalProperties":false}},"required":["version","assets"],"additionalProperties":false}}}}}}},"/deploy/game":{"post":{"tags":["deploy"],"description":"Deploys a new game release","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch":{"type":"string","description":"Git branch for this publish","example":"beta"},"commitHash":{"type":"string","description":"Full Git commit hash for this publish","example":"1829687e95c6b6429d36bbef32a358fcd9bec7aa"},"mainClass":{"type":"string","description":"Java main class to invoke when launching","example":"com.lunarclient.Main"},"ui":{"type":"object","properties":{"branch":{"type":"string","description":"Git branch for UI release"},"commitHash":{"type":"string","description":"Git commit hash for UI release"}},"required":["branch","commitHash"],"description":"UI release to ship with this publish"},"versions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of this version","example":"1.7"},"jres":{"type":"object","additionalProperties":{"type":"object","properties":{"download_url":{"type":"string","format":"uri","description":"URL to download this JRE"},"fallback_download_url":{"type":"string","format":"uri","description":"Fallback URL to download this JRE, if the normal URL fails"},"extra_arguments":{"type":"array","items":{"type":"string","description":"Extra argument to prepend"},"description":"Any extra arguments to prepend when invoking JRE"},"folder_checksum":{"type":"string","description":"Checksum, according to node library, of this JRE when extracted"},"download_extension":{"type":"string","enum":["zip","tar.gz"],"description":"Extension (and compression format) of this JRE","example":"zip"},"executable_path_in_archive":{"type":"array","items":{"type":"string","description":"Path component to Java executable"},"description":"The path the Java executable in the archive"},"javaw_download":{"type":"string","format":"uri","description":"Optional URL to override javaw with after extracting"},"javaw_exe_checksum":{"type":"string","description":"Checksum of file to override javaw with, if specified"}},"required":["download_url","extra_arguments","folder_checksum","download_extension","executable_path_in_archive"],"additionalProperties":false}},"name":{"type":"string","description":"Name of this version"},"group":{"type":"string","description":"Major version group of this version","example":"1.7"},"assets":{"type":"object","properties":{"id":{"type":"string","description":"Mojang asset ID for this version","example":"1.7.10"},"url":{"type":"string","format":"uri","description":"URL for Mojang asset index for this version","example":"https://launchermeta.mojang.com/v1/packages/1863782e33ce7b584fc45b037325a1964e095d3e/1.7.10.json"},"sha1":{"type":"string","description":"SHA1 hash of Mojang asset index"}},"required":["id","url","sha1"],"additionalProperties":false},"default":{"type":"boolean","description":"If this is the default version"},"modules":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of this module group","example":"lunar"},"default":{"type":"boolean","description":"If this is the default module group for the version"},"modules":{"type":"array","items":{"type":"string","description":"Module ID"},"description":"Modules in this module group"},"private":{"type":"boolean","description":"If this module group requires private access"}},"required":["name","default","modules","private"],"additionalProperties":false,"description":"Module group"},"description":"Module groups available on this version"},"ordinal":{"type":"number","description":"Sort order for this version"},"private":{"type":"boolean","description":"If this version requires private access"},"snapshot":{"type":"boolean","description":"If this is a Minecraft snapshot release"},"displayName":{"type":"string","description":"Display name of this version"}},"required":["id","jres","name","group","assets","default","modules","private","snapshot"],"additionalProperties":false},"description":"Minecraft versions available"},"modules":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of this module","example":":common"},"breaks":{"type":"array","items":{"type":"string","description":"Name of incompatible module","example":":optifine"},"description":"Other modules that must NOT be loaded with this module"},"requires":{"type":"array","items":{"type":"string","description":"Name of required module","example":":lunar"},"description":"Other modules that must be loaded with this module"},"versions":{"type":"array","items":{"type":"string","description":"Minecraft version","example":"1.7.10"},"description":"Minecraft versions this module is compatible with"}},"required":["name","breaks","requires","versions"],"additionalProperties":false},"description":"Module groups available"},"artifacts":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"name":{"type":"string","description":"Name of this artifact on disk","example":"lunar.jar"},"size":{"type":"integer","description":"Size of this artifact in bytes"},"type":{"type":"string","enum":["CLASS_PATH","EXTERNAL_FILE","NATIVES"],"description":"Type of this artifact","example":"CLASS_PATH"},"module":{"type":"string","description":"Module this artifact is a part of"},"versions":{"type":"array","items":{"type":"string","description":"Minecraft version"},"description":"Minecraft versions this artifact is part of"},"os":{"type":"string","description":"If present, this artifact is only downloaded on launches for this OS"},"arch":{"type":"string","description":"If present, this artifact is only downloaded on launches for this architecture"},"path":{"type":"string","description":"Name of this artifact on the CDN"}},"required":["name","size","type","module","versions","path"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","description":"Name of this artifact on disk","example":"lunar.jar"},"size":{"type":"integer","description":"Size of this artifact in bytes"},"type":{"type":"string","enum":["CLASS_PATH","EXTERNAL_FILE","NATIVES"],"description":"Type of this artifact","example":"CLASS_PATH"},"module":{"type":"string","description":"Module this artifact is a part of"},"versions":{"type":"array","items":{"type":"string","description":"Minecraft version"},"description":"Minecraft versions this artifact is part of"},"os":{"type":"string","description":"If present, this artifact is only downloaded on launches for this OS"},"arch":{"type":"string","description":"If present, this artifact is only downloaded on launches for this architecture"},"external":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"Path to download this artifact from an external CDN"},"sha1":{"type":"string","description":"SHA1 hash of this artifact"}},"required":["url","sha1"],"additionalProperties":false}},"required":["name","size","type","module","versions","external"],"additionalProperties":false}]},"description":"All artifacts available"},"recommendedLibraries":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"ID of this library","example":"FABRIC_LOADER"},"version":{"type":"string","description":"Recommended version of this library","example":"0.15.6"}},"required":["name","version"],"additionalProperties":false},"description":"Recommended library versions"},"useCanary":{"type":"boolean","description":"If this publish should use the canary system or directly publish"}},"required":["branch","commitHash","mainClass","versions","modules","artifacts","recommendedLibraries","useCanary"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}}}}},"/deploy/licenses":{"post":{"tags":["deploy"],"description":"Deploys a new license release","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"licenses":{"type":"array","items":{"type":"object","properties":{"file":{"type":"string","description":"Name of this license"},"mtime":{"type":"integer","description":"Last modification time of this license"},"sha1":{"type":"string","description":"SHA1 hash of this license"},"size":{"type":"integer","description":"Size, in bytes, of this license"},"url":{"type":"string","format":"uri","description":"URL to download this license"}},"required":["file","mtime","sha1","size","url"],"additionalProperties":false},"description":"Licenses for this publish"}},"required":["licenses"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}}}}},"/deploy/textures":{"post":{"tags":["deploy"],"description":"Deploys a new textures release","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch":{"type":"string","description":"Git branch for this publish","example":"beta"},"gitCommit":{"type":"string","description":"Full Git commit hash for this publish","example":"1829687e95c6b6429d36bbef32a358fcd9bec7aa"},"indexHash":{"type":"string","description":"Hash of cosmetic index file produced","example":"1829687e95c6b6429d36bbef32a358fcd9bec7aa"}},"required":["branch","gitCommit","indexHash"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}}}}},"/deploy/ui":{"post":{"tags":["deploy"],"description":"Deploys a new UI release","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch":{"type":"string","description":"Git branch for this publish","example":"beta"},"gitCommit":{"type":"string","description":"Full Git commit hash for this publish","example":"1829687e95c6b6429d36bbef32a358fcd9bec7aa"},"indexSha1":{"type":"string","description":"SHA1 Hash of index file produced","example":"1829687e95c6b6429d36bbef32a358fcd9bec7aa"},"sourceSha1":{"type":"string","description":"SHA1 Hash of source zip produced","example":"1829687e95c6b6429d36bbef32a358fcd9bec7aa"}},"required":["branch","gitCommit","indexSha1","sourceSha1"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If this deploy was successful"},"message":{"type":"string","description":"Explanation for success or failure."}},"required":["success","message"],"additionalProperties":false}}}}}}},"/discord/trigger-update":{"post":{"tags":["discord"],"description":"Triggers a request to the Discord bots to update the user's information","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"discordId":{"type":"string","description":"The Discord ID of the user we should update"}},"required":["discordId"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the update was successful"}},"required":["success"],"additionalProperties":false}}}}}}},"/discord/update-membership":{"post":{"tags":["discord"],"description":"Updates the membership information for a user in the Database","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"discordId":{"type":"string","description":"The Discord ID of the user we should update"},"joinedAt":{"type":"string","nullable":true,"description":"The date the user joined the Discord, if they just joined"},"leftAt":{"type":"string","nullable":true,"description":"The date the user left the Discord, if they just left"}},"required":["discordId","joinedAt","leftAt"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the update was successful"}},"required":["success"],"additionalProperties":false}}}}}}},"/discord/potw/get-cosmetic-pool":{"get":{"tags":["discord"],"description":"Gets the pick of the week cosmetics. Changes every request","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Success status"},"cosmetics":{"type":"array","items":{"type":"object","properties":{"cosmeticId":{"type":"integer","description":"In-game cosmetic ID"},"name":{"type":"string","description":"In-game cosmetic name"}},"required":["cosmeticId","name"],"additionalProperties":false,"description":"Pick of the week cosmetic object"},"minItems":0,"description":"List of cosmetics"}},"required":["success","cosmetics"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Success status"}},"required":["success"],"additionalProperties":false}}}}}}},"/discord/verification":{"post":{"tags":["discord"],"description":"Links a Discord profile","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"jwt_token":{"type":"string","description":"A valid Authenticator-issued JWT."},"discord_token":{"type":"string","description":"The Discord token of the user we should link"}},"required":["jwt_token","discord_token"]}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"If the update was successful"},"user":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Minecraft UUID of the linked player"},"username":{"type":"string","description":"Minecraft username of the linked player"}},"required":["uuid","username"],"additionalProperties":false,"description":"Info about the Minecraft player"},"discord":{"type":"object","properties":{"id":{"type":"string","description":"Discord user's unique ID"},"tag":{"type":"string","description":"Discord user's username"},"avatar":{"type":"string","description":"Discord user's avatar"}},"required":["id","tag","avatar"],"additionalProperties":false,"description":"Info about the Discord user"}},"required":["success","user","discord"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message describing the error"}},"required":["message"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message describing the error"}},"required":["message"],"additionalProperties":false}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message describing the error"}},"required":["message"],"additionalProperties":false}}}}}}},"/game/crashReport":{"post":{"tags":["game"],"description":"Legacy game crash report endpoint","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}}}}},"/game/logs":{"post":{"tags":["game"],"description":"Legacy game logs endpoint","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}}}}},"/game/metadata":{"get":{"tags":["game"],"description":"Loads various metadata used by the game.","parameters":[{"schema":{"type":"string","default":"master","description":"Branch of the game the user is running on"},"required":false,"name":"branch","in":"query"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"blogPosts":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","description":"Title of the blog post (primarily for Analytics)"},"image":{"type":"string","format":"uri","description":"Image to display with the blog post"},"link":{"type":"string","format":"uri","description":"URL that is opened upon clicking"}},"required":["title","image","link"],"additionalProperties":false},"description":"Blog posts that should be show on the home screen"},"alert":{"type":"object","properties":{"colors":{"type":"object","additionalProperties":{"type":"object","properties":{"default":{"type":"string","description":"Color of this alert when not hovering"},"hover":{"type":"string","description":"Color of this alert when hovered"}},"required":["default","hover"],"additionalProperties":false}},"active":{"type":"object","properties":{"id":{"type":"string","description":"ID of the alert"},"name":{"type":"string","description":"Name of the alert"},"text":{"type":"string","description":"Contents of the alert"},"color":{"type":"string","description":"Color variant of the alert"},"icon":{"type":"string","description":"Icon for this alert"},"dismissable":{"type":"boolean","description":"If this alert can be dismissed"},"link":{"type":"string","format":"uri","description":"Whether the alert is clickable and should open up a link"}},"required":["id","name","text","color","icon","dismissable"],"additionalProperties":false}},"required":["colors"],"additionalProperties":false},"modSettings":{"type":"object","additionalProperties":{"type":"object","properties":{"enabled":{"type":"boolean","description":"If this mod should be force enabled/disabled"},"properties":{"type":"object","additionalProperties":{"nullable":true},"description":"Any settings inside this mod to override"}},"additionalProperties":false}},"clientSettings":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"nullable":true},"description":"Any settings inside this category to override"}},"pinnedServers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the pinned server in the multiplayer list"},"ip":{"type":"string","description":"IP of the pinned server in the multiplayer list"},"expirationDate":{"type":"integer","description":"Unix timestamp to automatically remove this pin at"},"versions":{"type":"array","items":{"type":"string","description":"Minecraft version"},"description":"Minecraft versions that this server is pinned on"},"removable":{"type":"boolean","description":"If this pinned server can be deleted by the user"}},"required":["name","ip","expirationDate","versions","removable"],"additionalProperties":false},"description":"Pinned servers on the multiplayer list"},"starServers":{"type":"array","items":{"type":"object","properties":{"pattern":{"type":"string","description":"Regex to match server IPs in the multiplayer list"},"resource":{"type":"string","nullable":true,"description":"Custom texture resource to render"}},"required":["pattern"],"additionalProperties":false},"description":"Servers with a star on the multiplayer list"},"featureFlag":{"type":"array","items":{"$ref":"#/components/schemas/FeatureFlag"},"description":"Active feature flags"},"serverIntegration":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"array","items":{"type":"string","description":"Server IP"},"description":"Server IPs to match"},"brand":{"type":"string","description":"Server brand packet to match"},"modSettings":{"type":"object","additionalProperties":{"type":"object","properties":{"enabled":{"type":"boolean","description":"If this mod should be force enabled/disabled"},"properties":{"type":"object","additionalProperties":{"nullable":true},"description":"Any settings inside this mod to override"}},"additionalProperties":false}},"clientSettings":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"nullable":true},"description":"Any settings inside this category to override"}}},"required":["ip"],"additionalProperties":false},"description":"Server-specific mod/settings overrides"},"store":{"type":"object","properties":{},"additionalProperties":false,"description":"Dummy data for store"},"sentryFilteredExceptions":{"type":"array","items":{"$ref":"#/components/schemas/SentryFilter"},"description":"Exceptions to filter before sending to Sentry"},"langOverride":{"type":"object","properties":{},"additionalProperties":false,"description":"Dummy data for language overrides"},"links":{"type":"object","properties":{"wrapped":{"type":"string","format":"uri","description":"Custom URL for Wrapped button"},"store":{"type":"string","format":"uri","description":"Custom URL for Store button"},"youtooz":{"type":"string","format":"uri","description":"Custom URL for Youtooz button"},"trailer":{"type":"string","format":"uri","description":"Custom URL for Trailer button"}},"required":["wrapped","store","youtooz","trailer"],"additionalProperties":false,"description":"Links to override in-game"}},"required":["blogPosts","alert","modSettings","clientSettings","pinnedServers","starServers","featureFlag","serverIntegration","store","sentryFilteredExceptions","langOverride","links"],"additionalProperties":false}}}}}}},"/game/store":{"get":{"tags":["game"],"description":"Endpoint to retrieve store packages to display in the in-game store","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"storeCosmetics":{"type":"array","items":{"type":"object","properties":{"cosmeticId":{"type":"integer","description":"In-game cosmetic ID"},"tebexPackageId":{"type":"integer","description":"Tebex package ID"},"price":{"type":"number","description":"Base price in USD"}},"required":["cosmeticId","tebexPackageId","price"],"additionalProperties":false,"description":"Store cosmetic object"},"description":"Store cosmetic packages"},"storeEmotes":{"type":"array","items":{"type":"object","properties":{"emoteId":{"type":"integer","description":"In-game emote ID"},"tebexPackageId":{"type":"integer","description":"Tebex package ID"},"price":{"type":"number","description":"Base price in USD"}},"required":["emoteId","tebexPackageId","price"],"additionalProperties":false,"description":"Store emote object"},"description":"Store emote packages"}},"required":["storeCosmetics","storeEmotes"],"additionalProperties":false}}}}}}},"/game/screenshot/view":{"get":{"tags":["game"],"description":"Game screenshot view","parameters":[{"schema":{"type":"string","description":"Screenshot ID to view"},"required":true,"name":"id","in":"query"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":"Screenshot title"},"imageUrl":{"type":"string","format":"uri","description":"Image URL to display"},"uploader":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Minecraft UUID of the uploader"},"username":{"type":"string","description":"Minecraft username of the uploader"},"logoColor":{"type":"string","minLength":7,"maxLength":7,"description":"Hex color of the uploader's rank"},"lunarPlusColor":{"type":"string","nullable":true,"minLength":7,"maxLength":7,"description":"Hex color of the uploader's Lunar+ plus"}},"required":["uuid","username","logoColor","lunarPlusColor"],"additionalProperties":false,"description":"Minecraft player who uploaded the screenshot"},"uploadedAt":{"type":"string","format":"date-time","description":"Time this screenshot was uploaded"}},"required":["title","imageUrl","uploader","uploadedAt"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"}},"required":["code"],"additionalProperties":false}}}}}}},"/game/screenshot/upload":{"post":{"tags":["game"],"description":"Game screenshot upload","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"imageBase64":{"type":"string","description":"Image contents, Base64-encoded"},"localId":{"type":"string","format":"uuid","description":"The locally generated ID of the screenshot"},"authenticatorJwt":{"type":"string","description":"A valid Authenticator-issued JWT."}},"required":["imageBase64","authenticatorJwt"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"link":{"type":"string","format":"uri","description":"Link to view the image in a browser"}},"required":["link"],"additionalProperties":false}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"}},"required":["code"],"additionalProperties":false}}}}}}},"/launcher/launch":{"post":{"tags":["launcher"],"description":"Launch into the game","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"hwid":{"type":"string","description":"HWID of the requester","deprecated":true},"hwid_private":{"type":"string","description":"HWID Private of the requester","deprecated":true},"installation_id":{"type":"string","format":"uuid","description":"Installation ID of the requester","example":"00000000-0000-0000-0000-000000000000"},"os":{"type":"string","description":"Operating system of the requester","example":"win32"},"os_release":{"type":"string","description":"Operating system release of the requester","example":"10.0.19045"},"arch":{"type":"string","description":"CPU Architecture of the requester","example":"x64"},"launcher_version":{"type":"string","description":"Current launcher version of the requester"},"canary_preference":{"type":"string","enum":["OPT_IN","OPT_OUT","NEUTRAL"],"description":"The canary preference of the user"},"launch_type":{"type":"string","default":"OFFLINE","description":"The type of launch, always set to OFFLINE"},"branch":{"type":"string","description":"The branch that is attempting to be launched, will reset to master if the user does not have access","example":"master"},"version":{"type":"string","description":"The full Minecraft version to launch"},"args":{"type":"array","items":{"type":"string","enum":["ds","lui","dui","cef","dau"],"description":"Launch Flag"},"default":[],"description":"Flags attempting to be used in the launch sequence"},"module":{"type":"string","default":"lunar","description":"The module attempting to be launched with the current version"},"profile":{"$ref":"#/components/schemas/LauncherProfile"}},"required":["installation_id","os","os_release","arch","branch","version"],"additionalProperties":false}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request to launch was successful or not"},"error":{"type":"object","properties":{"code":{"type":"string","description":"Code associated with error"},"short":{"type":"string","description":"Short version of error message"},"message":{"type":"string","description":"Specific message associated with error"}},"required":["code","short","message"],"additionalProperties":false,"description":"If the launch request was unsuccessful, information will be populated regarding it"},"updateAssets":{"type":"boolean","description":"Whether the assets should update"},"launchTypeData":{"type":"object","properties":{"mainClass":{"type":"string","description":"Main class of the game to launch"},"artifacts":{"type":"array","items":{"$ref":"#/components/schemas/LaunchTypeArtifact"},"description":"Artifacts associated with launch"}},"required":["mainClass","artifacts"],"additionalProperties":false,"description":"Information about the specific launch configuration"},"licenses":{"type":"array","items":{"$ref":"#/components/schemas/LauncherLaunchLicense"},"description":"Licenses that are downloaded with the specific configuration"},"textures":{"type":"object","properties":{"indexUrl":{"type":"string","format":"uri","description":"URL of the textures index"},"indexSha1":{"type":"string","description":"Hash of the textures index"},"baseUrl":{"type":"string","format":"uri","description":"Root URL (CDN) to fetch the prepend"}},"required":["indexUrl","indexSha1","baseUrl"],"additionalProperties":false,"description":"Textures location for specific launch configuration"},"jre":{"type":"object","properties":{"download":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"URL location of the JRE"},"fallbackUrl":{"type":"string","format":"uri","description":"Fallback URL location of the JRE, if
[...]
